/*styling the form*/
.form {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: cadetblue;
  border-radius: 10px;
  box-shadow: 1px 0px 10px #525151;
  padding: 20px;
  margin-top: 1rem;
}

/*to accept the locations*/
.input {
  padding: 10px;
  border-radius: 8px;
  margin: 15px 0;
  outline: none;
  border: 0;
  border: 1px solid white;
  transition: all 400ms ease-in;
}

.input:hover {
  border: 1px solid blue;
}

/*styling the button*/
.btn {
  padding: 0.6rem 1rem;
  background: burlywood;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  outline: none;
  cursor: pointer;
  border: 0;
  transition: all 300ms ease-out;
}

.btn:hover {
  box-shadow: 1px 1px 7px 0px #525252;
}
